<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="margin-top: 0px">Who am I?</h1>
      <p>Alumnis of Le Wagon Bordeaux Batch 191. Alumnis of Lion by TheFamily.

      M1 Business Administrations of Bordeaux, specialized in Digital Strategy & Web Marketing . Passionate by technologies, innovation and startup ecosystem.
      I'm consistently looking for new things to do, new challenges to deal with. I am a creative, dynamic and passionate.

      </p>
    </div>
    <div class="col" style="margin-bottom: 30px">
      <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1035789/zgtqp8y8drhk255xpofe.jpg" class="rounded mx-auto d-block" alt="Laura Decroix" style="max-width: 250px; max-height: 250px">
    </div>
  </div>

    <div class="row">
    <div class="col">
      <h1 style="margin-top: 40px">About Me</h1>
      <p>"Believe in your dream"

I'm 22 years old, but I believe the age is nothing important.

I'm crazy about making things and having crazy ideas. I'm consistently looking for new things to do, new challenges to deal with. Techcrunch and product hunt are my favourites daily reading!

I believe startups are making crazy real and live incredible experiences. Who doesn't want to take risks, use our creativity and making your dream a reality?

I want to places passion before profit, and try to combine personal interests and skills with the ability to earn a living.

      </p>
    </div>
  </div>

</div>
