<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="margin-top: 0px">Who am I?</h1>
      <p>Alumnis of Le Wagon Bordeaux Batch 191. Alumnis of Lion by TheFamily.

      M1 Business Administrations of Bordeaux, specialized in Digital Strategy & Web Marketing . Passionate by technologies, innovation and startup ecosystem.
      I'm consistently looking for new things to do, new challenges to deal with. I am a creative, dynamic and passionate.

      </p>
    </div>
    <div class="col">
      <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1035789/zgtqp8y8drhk255xpofe.jpg" class="rounded mx-auto d-block" alt="Laura Decroix" style="max-width: 300px; max-height: 300px">
    </div>
  </div>
</div>
