<div class="container">

  <div class="row">
    <div class="col">
      <h3>Le Wagon</h3>
      <h4>2018 - 2018</h4>
      <p>Attended Le Wagon Bordeaux (Batch # 191). FullStack Developer - Web Development</p>
      <p>9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, Implemented and Shipped to production a clone of AirBnB and a Rails prototype of Me Makers.</p>
    </div>
    <div class="col">
      <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1035789/lewagon_szb6a5.png" class="rounded" alt="..." style="max-width: 200px; max-height: 200px; text-align: center;">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Lion</h3>
      <h4>2018</h4>
      <p>Lion gives you tools to succeed, network and also the opportunity to choose for yourself.</p>
      <p>Mindset, money, ops, sales, growth, dev, product are the main tracks of this outstanding formation.</p>
    </div>
    <div class="col">
      <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1035789/LOGO_V2_wxr5ka.png" class="rounded" alt="..." style="max-width: 200px; max-height: 200px; text-align: center;">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>BBA INSEEC</h3>
      <h4>2014- 2018</h4>
      <p>This Bachelor in Business Administration take four years, and is the most common management degree in the world.</p>
      <p>The program is base on international and permit student to enter in multicultural education courses, rooted in the real world of business and finance.</p>
      <p>International exchanges and internships are one of most important aspect of the school. This school permit also to continue their studies in Master, in top international institutions.</p>
      <p>INSEEC's Highlights are:</p>
      <li>Academic Excellence</li>
      <li>International Experience</li>
      <li>Innovation and Entrepreneurship</li>
      <li>Professional Commitment</li>
      <li>Certified degree from an institution recognized by the State</li>
      <li>Intercultural and linguistic knowledge and skills</li>
      <li>High level of general culture</li>
    </div>
    <div class="col">
      <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1035789/logo-groupe-inseec-01_ufxfel.png" class="rounded" alt="..." style="max-width: 200px; max-height: 200px; text-align: center;">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>INSEEC San Francisco</h3>
      <h4>3 months Sept-Dec 2016</h4>
      <p>I've been studying 3 months oversea to follow a startup mindset program and networking with people there.</p>
      <p>My classes : </p>
      <li>3D Modeling & 3D printing </li>
      <li>Venture Capital</li>
      <li>Design thinking</li>
      <li>Digital Marketing & Growth Hacking</li>
      <li>Silicon Valley Ecosystem</li>
      <li>English</li>
      <li>Lean Startup</li>
      <li>Pitch Deck</li>
      <li>Web design & introduction to coding </li>
    </div>
    <div class="col">
      <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1035789/20130718-ff6bf404effc93d0ac15b935dc6d9ad12868752c9c322e662332334-1024_rfwb0l.png" class="rounded" alt="..." style="max-width: 200px; max-height: 200px; text-align: center;">
    </div>
  </div>

</div>



