<div class="container">

<h1>My recent works</h1>
<p>Here are a few recent design projects. Want to see more? Email me.</p>


    <div class="row" style="margin-top: 60px">
      <div class="col-sm">
        <img src="https://images.pexels.com/photos/1122473/pexels-photo-1122473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Responsive image" class="img-fluid rounded">
      </div>
      <div class="col-sm">
        <img src="https://images.pexels.com/photos/1122473/pexels-photo-1122473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Responsive image" class="img-fluid rounded">
      </div>
      <div class="col-sm">
        <img src="https://images.pexels.com/photos/1122473/pexels-photo-1122473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Responsive image" class="img-fluid rounded">
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <img src="https://images.pexels.com/photos/1122473/pexels-photo-1122473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Responsive image" class="img-fluid rounded">
      </div>
      <div class="col-sm">
        <img src="https://images.pexels.com/photos/1122473/pexels-photo-1122473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Responsive image" class="img-fluid rounded">
      </div>
      <div class="col-sm">
        <img src="https://images.pexels.com/photos/1122473/pexels-photo-1122473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Responsive image" class="img-fluid rounded">
      </div>
    </div>

</div>
