<div class="container">

<h1>My recent works</h1>
<p>Here are a few recent design projects. Want to see more? Email me.</p>


    <div class="row" style="margin-top: 60px">
      <div class="col-sm">
        <figure class="snip1273">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
          <figcaption>
            <h3>Foxintelligence</h3>
            <p>I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway. </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-sm">
        <figure class="snip1273">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
          <figcaption>
            <h3>Time To Pitch</h3>
            <p>I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway. </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-sm">
        <figure class="snip1273">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
          <figcaption>
            <h3>Lily & Louis</h3>
            <p>I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway. </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <figure class="snip1273">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
          <figcaption>
            <h3>Fletch Skinner</h3>
            <p>I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway. </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-sm">
        <figure class="snip1273">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
          <figcaption>
            <h3>Fletch Skinner</h3>
            <p>I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway. </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
      <div class="col-sm">
        <figure class="snip1273">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
          <figcaption>
            <h3>Fletch Skinner</h3>
            <p>I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway. </p>
          </figcaption>
          <a href="#"></a>
        </figure>
      </div>
    </div>



</div>
