<div class="container">
  <img src="http://mattfarley.ca/img/hero.png" class="img-fluid" alt="Responsive image" style="margin-top: 40px; margin-bottom: 40px">
  <div class="name">
    <h1 class="animated fadeIn">Laura Decroix</h1>
    <p>Digital nerd, FullStack Developer and content creator</p>
    <a class="eanimated fadeIn" href="https://www.messenger.com/t/laura.decroix.7" target="_blank"><button type="button" class="btn btn-secondary btn-lg">Get in Touch</button></a>

    <a class="ghost animated fadeIn" href="https://www.linkedin.com/in/laura-decroix/" target="_blank"><button type="button" class="btn btn-secondary btn-lg">My Background</button></a>
  </div>

<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="margin-bottom: 20px">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_trello"></a>
<a class="a2a_button_email"></a>
</div>
<script>
var a2a_config = a2a_config || {};
a2a_config.num_services = 2;
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->


</div>

