<div class="container">
  <img src="http://mattfarley.ca/img/hero.png" class="img-fluid" alt="Responsive image" style="margin-top: 40px; margin-bottom: 40px">
  <div class="name">
    <h1 class="animated fadeIn">Laura Decroix</h1>
    <p>Digital nerd, FullStack Developer and content creator</p>
    <a class="eanimated fadeIn" href="https://www.messenger.com/t/laura.decroix.7" target="_blank"><button type="button" class="btn btn-secondary btn-lg">Get in Touch</button></a>

    <a class="ghost animated fadeIn" href="https://www.linkedin.com/in/laura-decroix/" target="_blank"><button type="button" class="btn btn-secondary btn-lg">My Background</button></a>
  </div>




</div>

